:root {
    --green: #02833E;
    --blue: #022169;
}

body {
    margin: 0;
    padding: 0;
    color: var(--green);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px;
    border: 2px solid var(--blue);
    border-radius: 20px;
    transition: .25s;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--blue);
}

header {
    color: white;
    background-color: var(--green);
    padding: 10px 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 10px;
}

header h1, header h3 {
    padding: 0 15px;
}

.hidden {
    display: none;
}

.selected {
    background-color: var(--green);
    color: white;
    border: 2px solid black;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.progress-box {
    border: 2px solid var(--blue);
    width: 30px;
    height: 30px;
    background: linear-gradient(to left, white 50%, var(--green) 50%) right;
    background-size: 200%;
    transition: .25s ease-out;
}

.progress-box-one {
    background: var(--green);
    background-size: 0;
}

.progress-line {
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    width: 50px;
    min-width: 30px;
    height: 7.5px;
    background: linear-gradient(to left, white 50%, var(--green) 50%) right;
    background-size: 200%;
    transition: 1s ease-out;
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.question {
    padding: 0 10px;
}

.img-container {
    max-width: 100px;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 2px solid var(--blue);
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
    transition: .25s;
}

.answer:hover {
    cursor: pointer;
}

.answer img {
    width: 100%;
    filter: invert(26%) sepia(89%) saturate(1583%) hue-rotate(95deg) brightness(96%) contrast(106%);
    transition: .25s;
}

.selected img {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.progress-box img {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.game-name, .game-website-container, .restart-btn {
    margin-top: 15px;
}

.game-img-container {
    max-width: 300px;
    border: 2px solid var(--blue);
    margin-top: 15px;
}

.game-img {
    width: 100%;
}

@media only screen and (min-width: 780px) {

    .answers {
        display: flex;
    }

    .progress-box {
        width: 45px;
        height: 45px;
    }

    .progress-line {
        height: 10px;
        width: 150px;
    }

}