body {
    margin: 0;
    padding: 0;
    color: #02833E;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: #02833E;
    padding: 10px 0;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.selected {
    background-color: #02833E;
    color: white;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.progress-box {
    border: 2px solid black;
    width: 10px;
    height: 10px;
    background: linear-gradient(to left, white 50%, #02833E 50%) right;
    background-size: 200%;
    transition: .25s ease-out;
}

.progress-box-one {
    background: #02833E;
    background-size: 0;
}

.progress-line {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 30px;
    height: 5px;
    background: linear-gradient(to left, white 50%, #02833E 50%) right;
    background-size: 200%;
    transition: 1s ease-out;
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    margin-bottom: 15px;
    padding: 0 10px;
}

/* .answers {
    grid: 10px;
} */

.answer {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.answer:hover {
    cursor: pointer;
}